[Unit]
Description=TCP server which listens to a tcp-stream from Sensu, filters this data and sends it to an InfluxDB

[Service]
Type=simple
ExecStart=/usr/bin/python3 {{install_path}}/tcpserver.py

[Install]
WantedBy=multi-user.target
